.bloop
.bsp
.metals

# sbt
target/
/project/project/
/project/metals.sbt

# editors
.vscode

# doc
website/build/
website/node_modules/
website/.docusaurus
yarn.lock
package-lock.json
website/variables.js
website/static/api